/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e8e9e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #e4f183;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-top: 20px;
    display: grid;
    gap: 10px;
  }
  
  .star-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    font-size: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .star-rating label:before {
    content: '★';
  }
  
  .star-rating input:checked ~ label:before {
    color: gold;
  }
  #btn{
    border: none;
    background-color: #d6c909;
    padding: 4px;
    color: #e8e9e1;
    border-radius: 7px;


  }
  
  #reviews-container {
    margin-top: 20px;
  }
  
  .review {
    border: 1px solid #d6c909;
    padding: 10px;
    margin-bottom: 10px;
  }
  